
<div class="container">
  <input type="checkbox" class="toggle" id="toggle" checked="checked" />
  <div class="menu">
    <div class="top">
      <a class="exit" href="#" tabindex="0"></a>
    </div>
    <ul class="middle">
      <li tabindex="0"><i class="fa fa-check-square-o"></i>Nom :<input type="text" id="nom" name="nom" placeholder="Entrez votre nom" required></li>
      <li tabindex="0"><i class="fa fa-map-marker"></i>Prenom :<input type="text" id="nom" name="nom" placeholder="Entrez votre prenom" required></li>
      <li tabindex="0"><i class="fa fa-codepen"></i>Tel :<input type="text" id="nom" name="nom" placeholder="Entrez votre tel" required></li>
      <li tabindex="0"><i class="fa fa-dribbble"></i>PIN :<input type="text" id="nom" name="nom" placeholder="Entrez votre PIN" required></li>
      <li tabindex="0"><i class="fa fa-user"></i>Mail :<input type="email" id="email" name="email" placeholder="Entrez votre email" required></li>
    </ul>
    <input type="submit" value="Soumettre">
  </div>
</div>
