<div class="container">
  <div class="article">
    <div class="carousel">
      <div class="img">
        <img src="https://media.ldlc.com/r374/ld/products/00/05/82/02/LD0005820219_1.jpg">
        <img src="https://media.ldlc.com/r374/ld/products/00/05/82/02/LD0005820223_1.jpg">
        <img src="https://media.ldlc.com/r374/ld/products/00/05/82/02/LD0005820222_1.jpg">
        <img src="https://media.ldlc.com/r374/ld/products/00/05/82/02/LD0005820221_1.jpg">
        <img src="https://media.ldlc.com/r374/ld/products/00/05/82/02/LD0005820220_1.jpg">
      </div>
      <div class="span-cont" ></div>
    </div>
    <div class="description">
      <h2></h2>
      <p>
      </p>
    </div>
    <div class="achats">
      <div id="likes" class="like"></div>
      <a>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Voter
      </a>
    </div>
  </div>
</div>
