<body src="../../assets/backthejoy1.jpg">
  <button [routerLink]="['/home']">Retour</button><br />
  <div class="container" *ngFor="let jeu of jeux | async">
    <div class="article" *ngIf="jeuId === jeu.id">
      <div class="carousel">
        <div class="img">
          <img [src]="jeu.image">
        </div>
        <div class="span-cont"></div>
      </div>
      <div class="description">
        <h2>{{jeu.nom}}</h2>
        <p>
          {{jeu.description}}
        </p>
      </div>
      <div class="achats">
        <div id="likes" class="like"></div>
        <div><input type="button" id="pause" value="J'aime"></div>
      </div>
    </div>
  </div>
</body>